<body>
  <app-layout></app-layout>
<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 cd">
        <div class="card">
            <div class="icon">           
               <i class="bi bi-pie-chart"></i>
            </div>
            <div class="cardHeader">
                Total Users
                <p class="huge">{{totalUsers}}</p>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 cd">
        <div class="card2">
            <div class="icon2">           <i class="bi bi-bag-check-fill"></i>
            </div>
            <div class="cardHeader2">
                Total Orders
                <p class="huge2">{{totalOrders}}</p>
            </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 cd">
        <div class="card">
            <div class="icon">            <i class="bi bi-cart4"></i>
            </div>
            <div class="cardHeader">
                total Items
                <p class="huge">{{totalItems}}</p>
            </div>
        </div>
    </div>
      <div class="col-lg-3 col-md-6 cd">
        <div class="card3">
            <div class="icon3">           <i class="bi bi-currency-dollar"></i>
            </div>
            <div class="cardHeader3">
                total Revenue
                <p class="huge3">{{totalRevenue}}</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="first-chart">
      <canvas id="myChart"></canvas>
    </div>
    <div class="second-chart">
      <canvas id="theChart">
      </canvas>
    </div>
  </div>
</div>


</body>
