*{
    background: #ECE6C2;
    margin: 0 auto;
}
.container{
    margin-left: 200px;
    margin-top: 0px;
   
}
.card{
    background: #CD6C4B;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 250px;
    border: 4px solid#373535;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 35px;
    padding: 2%;
 }
.cardHeader{
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    background: #CD6C4B;
    padding: 2%;
    text-align: center;
    width: 180px;
    font-size: 22px;
}
.huge{
   
    margin-left: 35px;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    font-family: "Alfa Slab One";
    border: 4px solid #373535;
    color: #373535;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
}
.icon{
    background: #CD6C4B;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 70px;
    width: 100px;
    height: 51px;
}
.icon i{
    color: #ECE6C2;
    background: #CD6C4B;

}

.card2{
    background: #D2A24D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 250px;
    border: 4px solid#373535;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 35px;
    padding: 2%;
 }
.cardHeader2{
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    background: #D2A24D;
    padding: 2%;
    text-align: center;
    width: 180px;
    font-size: 22px;
}
.huge2{
   
    margin-left: 35px;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    font-family: "Alfa Slab One";
    border: 4px solid #373535;
    color: #373535;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
}
.icon2{
    background: #D2A24D;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 70px;
    width: 100px;
    height: 51px;
}
.icon2 i{
    color: #ECE6C2;
    background: #D2A24D;

}


.card3{
    background: #73BCA8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 250px;
    border: 4px solid#373535;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 35px;
    padding: 2%;
 }
.cardHeader3{
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    background: #73BCA8;
    padding: 2%;
    text-align: center;
    width: 180px;
    font-size: 22px;
}
.huge3{
   
    margin-left: 35px;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    font-family: "Alfa Slab One";
    border: 4px solid #373535;
    color: #373535;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
}
.icon3{
    background: #73BCA8;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 70px;
    width: 100px;
    height: 51px;
}
.icon3 i{
    color: #ECE6C2;
    background: #73BCA8;

}
