<div class="profile">
    <h1 class="welcome">Welcome {{name}} !!</h1>
    <div class="all">
        <div class="information">
            <h3 class="info"> Your Information:</h3> 
            <p>UserName:  {{name}} </p>
            <p>Email:  {{email}} </p>
            <p>Phone:  {{phone}} </p>
            <p>Address:  {{address}} </p>
        
        </div>
   
        <div class="picture">
        
            <img src="../../assets/Images/Gradient.jpg" alt="" class="imagz">
        </div>
    </div>
</div>
