<body>
  <app-layout></app-layout>
<div class="register">
    <h1 class="title"> 
      Add a new Product !
    </h1>
   
    <form class="register-form" [formGroup]="productform" (ngSubmit)="OnSubmit()">
         
          <div class="register-field">
              <label for="name">Name :</label>
              <input type="text" placeholder="Enter the product's name" class="form-control" id="title" formControlName="title" required>
            </div>
            
            <div class="register-field">
                <label for="price">Price :</label>
                <input type="text" placeholder="Enter the product's price" class="form-control" id="price" formControlName="price" required>
            </div>

            <div class="register-field">
                <label for="category">Category :</label>
                <input type="text" placeholder="Enter the product's category" class="form-control" id="category" formControlName="category" required>
            </div>

            <div class="register-field">
              <label for="description">Description :</label>
              <textarea type="text" placeholder="Enter the product's description" class="form-control" id="description" formControlName="description" required></textarea>
            </div>
        
             <div class="register-field">
              <label for="image">Image :</label>
              <input type="hidden" class="form-control" id="image-url" formControlName="image" >
              <input type="file" placeholder="upload the product's image " class="form-control" id="image-file"  formControlName="image" accept="image/*" required>
            </div>
            
            <div class="buttons">
              <p><button type="submit" class="submit-button" >Add Product</button></p>
            </div>
            
      </form>
      <script>
        const fileInput = document.getElementById('image-file');
const imageElement = document.getElementById('image-url');

fileInput.addEventListener('change', () => {
  const file = fileInput.files[0];
  const reader = new FileReader();

  reader.addEventListener('load', () => {
    imageElement.src = reader.result;
  });

  if (file) {
    reader.readAsDataURL(file);
  }
});


      </script>
</div>
  

</body>
