@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
a{
    text-decoration: none;
}
.home{
    display: block;
   padding:3%;
   background-color: #ECE6C2;
}
.home1 {
    padding: 100px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.big{
    
width: 585px;
height: 176px;
font-family: "Alfa Slab One";
font-weight: 400;
font-size: 64px;
line-height: 88px;

color: #373535;
}
.small{
    
width: 544px;
height: 49px;
font-family:"Alfa Slab One";
font-weight: 400;
font-size: 36px;
line-height: 49px;


color: #373535;

}

.player img{
    width: 629px;
    height: 407px;
    
}

.home2{
    padding: 100px 100px;
    display: flex;
    justify-content: space-around;
}
.article{
   
   justify-content: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
width: 281px;
height: 322px;

border: 4px solid#373535;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px;

padding: 2%;
/*


box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
justify-content:space-around;
*/



}
 #a1{
    background: #D2A24D;
}
 #a2{
    background: #CD6C4B;
}
#a3{
    background:#73BCA8;;
}

.title{
    
    text-align: center;
    align-items: center;
width: 140px;
height: 51px;
display: flex;

justify-content:space-around;
font-family:"Alfa Slab One";
border: 4px solid #373535;
color: #373535;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#t1{
    background:#73BCA8; 
}
 #t2{
    background: #D2A24D;
}
#t3{
    background:#CD6C4B;
}
.hdra{
    color: #373535;
    font-family:"Alfa Slab One";
    font-weight: 100;
    font-size: small;
    background:none;
}

.article2{
    display: flex;
   justify-content: space-around;
   background: #D2A24D;
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
   height: 208px;
   
   align-items: center;
border: 4px solid#373535;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px;

padding: 2%;
}
.lamp{
    background: none;
}

.lamp img{
    width: 105px;
    height: 200px;
    background: none;
    filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.25));
}
.text2{
   
    background: none;
    color: #373535;
    font-family: "Alfa Slab One" ;
}
.big2{
    background: none;
    font-size: 25px;
}
.small2{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    float: left;
}

@media screen and (max-width: 800px) {
    .home1 {
       
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .player img{
        width: 434px;
        height: 281px;
    }
    .big{
        
        font-family: "Alfa Slab One";
        font-weight: 300;
        font-size: 40px;
        
        
        }
    .small{
        font-family:"Alfa Slab One";
        font-weight: 200;
        font-size: 30px;
        line-height: 49px;
        float: left;
            
            }
    .home2{
        display: block;
        align-items: center;
        align-content: center;
        padding-left: 30%;
       
    }
    .article{
        margin-bottom: 30px;
    }
    .article2{
        display: block;
        align-items: center;
        align-content: center;
        
        width: fit-content;
       
    }
    .lamp{
        display: none;
    }
}