
<div class="home">
<div class="home1">
    <div class="text">
        <p class="big">Welcome to Vintage Morocco</p>
       
        <p class="small">For an old school experience </p>
    </div>
    
    <div class="player">
        <img src="../../assets/Images/LOGO-Vintage-02.png">
    </div>

</div>
<div class="home2">
    <div class="article" id="a1"> 
        <p class="title" id="t1">Who ?</p>
        <p class="hdra" >
            Our team is made up of 3 computer engineering students who are passionate about vintage Moroccan items and want to share their love for these unique and beautiful items with the world.
        </p>
    </div>
    <div class="article" id="a2">
        <p class="title" id="t2">What ?</p>
        <p class="hdra" >
            Vintage Morocco offers a wide range of rare vintage Moroccan items, including furniture, decor, clothing, and accessories. All of the items sold by Vintage Morocco are carefully curated and selected for their quality, uniqueness, and cultural significance.    
        </p>
    </div>
    <div class="article" id="a3">
        <p class="title" id="t3">Why ?</p> 
        <p class="hdra" >
            Our team passionate about preserving the beauty and culture of Morocco by sharing its rare and unique vintage items with the world. We believe that these items represent the rich history and cultural heritage of Morocco and that must be kept alive for future generations to enjoy.
        </p>     
    </div>
</div>
<div class="home3">
    <div class="article2" > 
        <div class="text2">
            <p class="big2">Trying to buy or sell old moroccan items ?</p>
            <p class="small2">Start your shopping spree right now   <a  routerLink="/Products" routerLinkActive="active" ariaCurrentWhenActive="page"class="title" id="shop">Shop</a> </p>
        </div>
        <div class="lamp">
            <img src="../../assets/Images/lamp1-03.png">
        </div>
    </div>
</div>
</div>
