
<div class="home">
<div class="home1">
    <div class="text">
        <p class="big">Welcome to Vintage Morocco</p>
       
        <p class="small">For an old school experience </p>
    </div>
    
    <div class="player">
        <img src="../../assets/Images/LOGO-Vintage-02.png">
    </div>

</div>
<div class="home2">
    <div class="article" id="a1"> 
        <p class="title" id="t1">Info 1</p>
        <p class="hdra" >We re 3 foftware engineering students from Ensam Casablnaca, creating a full stack project using Angular and Laravel. We're also tired !!</p>
    </div>
    <div class="article" id="a2">
        <p class="title" id="t2">Info2</p>
        <p class="hdra" >Because old is gold and because we want you to find cool vintage stuff, as well as sell your old items</p>
    </div>
    <div class="article" id="a3">
        <p class="title" id="t3">Info 3</p> 
        <p class="hdra" >Right here!! You won't need to move or wait or idk i need afkar</p>
    </div>
</div>
<div class="home3">
    <div class="article2" > 
        <div class="text2">
            <p class="big2">Trying to buy or sell old moroccan items ?</p>
            <p class="small2">Start your shopping spree right now   <a  routerLink="/Products" routerLinkActive="active" ariaCurrentWhenActive="page"class="title" id="shop">Shop</a> </p>
        </div>
        <div class="lamp">
            <img src="../../assets/Images/lamp1-03.png">
        </div>
    </div>
</div>
</div>
