<img src="{{data.image}}" alt="Denim Jeans">
<h1 class="ourlabel" >{{data.title}}</h1>
<p class="price" >{{data.price}} Dhs</p>
<p class="description">{{data.description}}</p>
<div class="addcart">
    <p><button class="bigbutton" type="submit" *ngIf="!addButton" (click)="addButton=true">Add to Cart</button></p>
    <div class="addqnt" *ngIf="addButton">
        <input type="number" class="form-control" [(ngModel)]="amount">
        <button  class="smallbutton" type="submit" (click)="add()" >Add</button>
    </div>
</div>