

<div class="home">
    <div class="home1">
        <div class="text">
            <p class="big">Hello there</p>
            <p class="small">Get to know us, what we do and why we do it!!</p>
    </div>
    </div>
    <div class="home2">
        <div class="article" id="a1"> 
            <p class="title" id="t1">Who?</p>
            <p class="hdra" >We re 3 foftware engineering students from Ensam Casablnaca, creating a full stack project using Angular and Laravel. We're also tired !!</p>
        </div>
        <div class="article" id="a2">
            <p class="title" id="t2">Why?</p>
            <p class="hdra" >Because old is gold and because we want you to find cool vintage stuff, as well as sell your old items</p>
        </div>
        <div class="article" id="a3">
            <p class="title" id="t3">Where?</p> 
            <p class="hdra" >Right here!! You won't need to move or wait or idk i need afkar</p>
        </div>
    </div>
    <div class="home3">
        <div class="article2" > 
            <div class="text2">
                <p class="small2">Email: <a href="#">vintagemorocco3@gmail.com</a> </p>
                <p class="small2">Phone: +212 645789012 </p>
                <p class="small2">Address: Casablnaca, Morocco</p>
                <p class="small2">LinkTree: <a href="#">A link that we ll provide later</a> </p>
                
            
            </div>
            
        </div>
    </div>
    </div>
    