<div class="footer">
    <div class="credits">All rights reserved @Vintage-Morocco</div>
    <div class="line">
        <hr/> 
        <span class="logo">
            <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page" ><img id="logo" src="../../assets/Images/LOGO-Vintage-05.png" ></a>
        </span> 
        <hr/></div>
    <div class="icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>
</div>
